.main-dash {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #f5f5f5;
    padding: 4vh;
}

.nav-dash {
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 12%;
    background-color: black;
    color: white;
}

.in-nav-dash {
    margin: 30px;
}

.in-nav-dash h1 {
    font-size: 36px;
    font-weight: 700;
}

.in-nav-dash a {
    color: #ccc;
    cursor: pointer;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.in-nav-dash a:hover {
    color: lightgreen;
}

.in-nav-dash img {
    height: 20px;
    border-radius: 50px;
    padding: 15px;
}

.container-dash {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    width: 75%;
}

.menu-container {
    margin: 3% 0;
}

.menu-container>a {
    margin: 7% 0%;
}

.menu {
    background-color: white;
    position: absolute;
    right: 4vh;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 12px;
    top: 80px;
    display: none;
    box-shadow: 0 8px 24px rgb(149, 157, 165, 0.2);
    text-align: center;
}

.menu>p {
    text-align: center;
    padding: 2px;
}

.space {
    padding: 4px 0;
}

.menu>a {
    background-color: #000;
    color: #fff;
    padding: 4px 8px;
    border-radius: 8px;
    box-shadow: 0 8px 24px rgb(149, 157, 165, 0.2);
}

.menu>a:hover {
    background-color: #DDEFE0;
    color: #000;
}

.top-cont-dash {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search-dash {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
    margin: 0 2%;
}

.logo-dash h1 {
    font-size: 29px;
    margin: 0;
}

.search-dash img {
    height: 30px;
    border-radius: 15px;
}

.search-dash>button {
    border: none;
}

.hover:hover {
    cursor: pointer;
}

.search-dash>input {
    height: 30px;
    width: 70%;
    background: #FFFFFF;
    border-radius: 10px;
    border: solid 0;
    padding: 12px 10px;
}

.val-cont-dash {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.val-cont-dash div {
    display: flex;
    flex-direction: column;
    width: 23%;
    height: 120px;
    border-radius: 20px;
    padding: 1% 2%;
    margin: 1%;
}

.val-cont-dash>div>p:nth-child(odd) {
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin: 2% 0%;
}

.val-cont-dash>div>h1 {
    text-align: right;
    margin-bottom: 5%;
    margin-top: 0;
}

.val-cont-dash p {
    margin: 0;
}

select {
    border: none;
    padding: 4px 8px;
    text-transform: capitalize;
}

.fa {
    font-size: 24px;
    padding: 0 10px;
}

.a-val-cont-dash {
    background: #DDEFE0;
}

.b-val-cont-dash {
    background: #F4ECDD;
}

.c-val-cont-dash {
    background: #EFDADA;
}

.d-val-cont-dash {
    background: #DEE0EF;
}

.in-graph-cont-dash {
    padding: 0;
    height: 270px;
}

.graph-cont-dash {
    padding: 20px;
    border-radius: 20px;
    background-color: #FFFFFF;
}

.charts-cont-dash {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pie-graph {
    height: 230px;
    width: 47%;
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 2% 1%;
}

.in-pie-graph {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.chart-pie {
    height: 180px;
}

.in-pie-graph h3 {
    margin: 0;
}

.todo {
    height: 230px;
    width: 47%;
    background-color: #FFFFFF;
    border-radius: 20px;
}

.todo>.todos_section {
    display: flex;
    justify-content: space-between;
    padding: 3% 4%;
}

.todo>.todos_section>h3 {
    font-weight: 600;
}

.todo>.todos_section>p {
    color: #ccc;
}

.meetingTimeDirection {
    border-left: 5px solid lightgreen;
    padding: 5px 8px;
    margin: 2% 0%;
}

.meetings-container {
    padding: 2% 4%;
}

.meetingTimeDirection>h3 {
    color: #5e5e5e;
}

.meetingTimeDirection>p {
    color: #757575;
}

.meetingTimeDirection2 {
    border-left: 5px solid lightpink;
    padding: 5px 8px;
    margin: 2% 0%;
}

.meetingTimeDirection2>h3 {
    color: #5e5e5e;
}

.meetingTimeDirection2>p {
    color: #757575;
}

.main-dash {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #f5f5f5;
    padding: 4vh;
}

.nav-dash {
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 17%;
    height: 130vh;
    background-color: black;
    color: white;
}

.container-dash {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
}


/* 
@media only screen and (max-width: 768px) {
    .main-dash {
        flex-direction: column;
        padding: 2vh;
    }
    .nav-dash {
        width: 100%;
        height: auto;
        margin-bottom: 2vh;
        border-radius: 0;
    }
    .in-nav-dash {
        margin: 20px 0;
    }
    .container-dash {
        width: 100%;
    }
    .menu {
        display: block;
        margin-top: 2vh;
        margin-right: 2vh;
    }
    .search-dash {
        width: 50%;
    }
    .search-dash input {
        width: 80%;
    }
    .charts-cont-dash {
        flex-direction: column;
    }
    .pie-graph {
        width: 100%;
        margin-bottom: 2vh;
    }
    .todo {
        width: 100%;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .nav-dash {
        height: 100vh;
    }
    .container-dash {
        width: 77%;
    }
    .search-dash {
        width: 40%;
    }
    .val-cont-dash div {
        width: 25%;
    }
    .pie-graph {
        width: 45%;
    }
    .todo {
        width: 50%;
    }
} */