body {
    margin: 0;
    padding: 0;
}

.Container__main {
    display: flex;
    flex-direction: row;
}

.Header__section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    left: 0;
    right: 0;
    background-color: rgb(0, 0, 0);
    height: 100vh;
    width: 20%;
}

.Header__section h1 {
    font-size: 72px;
    color: rgb(255, 255, 255);
}

.Container__login {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #F5F5F5;
    ;
}

.heading_section {
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}

.heading_section h1 {
    padding: 0px 0px;
}

.para_in {
    margin: 0px;
    font-size: 16px;
}

.heading_cont {
    display: flex;
    flex-direction: row;
}

.heading_section button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0px;
    border-radius: 10px;
    background: #FFFFFF;
    border: 0px solid;
    padding: 2% 2.8%;
    margin: 3% 3%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.heading_section button:hover {
    box-shadow: none;
    transition-duration: 0.6s;
}

.heading_cont img {
    height: 20px;
    background: fixed;
}

.heading_cont p {
    font-size: 12px;
    margin: 0px 10px;
    color: #858585;
    font-weight: 400;
    cursor: pointer;
}

.input_section {
    display: flex;
    flex-direction: column;
    width: 80%;
    background: #FFFFFF;
    padding: 29px;
    border-radius: 20px;
}

.input_section p {
    padding: 10px 0;
}

.input_section input {
    padding: 0px 10px;
    /* width: 80%; */
    height: 40px;
    border-radius: 10px;
    border: 0px solid;
    background: #F5F5F5;
}

.input_section button {
    height: 40px;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.3s;
}

.input_section button:hover {
    background-color: white;
    box-shadow: 2px 2px 2px black;
    color: black;
    transition-duration: 0.3s;
}

input:focus {
    border: none;
    outline: none;
    background: #ccc;
    border-bottom: 1px #000 solid;
}

.register__section {
    text-align: center;
    color: #858585;
    padding: 7px 0px;
}

a {
    padding: 3px;
    color: #346BD5;
    text-decoration: none;
}

@media (max-width: 768px) {
    .Container__login {
        height: 92vh;
    }
    .Container__main {
        flex-direction: column;
        height: 100%;
    }
    .Header__section {
        width: 100%;
        height: auto;
    }
    .Header__section h1 {
        font-size: 48px;
    }
    .Container__login {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .Sign__in__container {
        width: 90%;
    }
    .input_section {
        width: 100%;
        padding: 3px 1px;
    }
    .input_section p {
        padding: 5px 0px 2px 0px;
        padding-left: 5px;
    }
    .input_section input {
        padding: 2px;
        margin: 10px;
    }
    .input_section button {
        width: 100%;
        justify-content: center;
        border-radius: 10px;
    }
}

@media (min-width: 768px) {
    .Header__section {
        width: 50%;
        height: 100vh;
    }
    .Sign__in__container {
        width: 38%;
    }
    .input_section {
        width: 80%;
    }
    .input_section p {
        padding: 5px 0px 2px 0px;
        padding-left: 5px;
    }
}


/* @media (min-width: 950px) {
    .Header__section {
        width: 50%;
        height: 100vh;
    }
    .Sign__in__container {
        width: 38%;
    }
    .input_section {
        width: 80%;
    }
    .input_section p {
        padding: 5px 0px 2px 0px;
        padding-left: 5px;
    }
} */